*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.parent{
    font-size: 10px;
    width: 500px;
    height: 500px;
    background-color: red;
}

.child{
    /* width: 10em; 10em = 10*10 = 100px  */
    /* height: 20em; 20em = 20*10 = 200px  */
    width: 10rem;
    height: 20rem;
    background-color: blue;
}
